* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f3f5f7;
    font: 14px '微软雅黑';
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.clearfix::after {
    display: block;
    content: '';
    clear: both;
    height: 0;
    visibility: hidden;
}
.clearfix {
    *zoom: 1;
}
.w {
    width: 1200px;
    margin: 0 auto;
}
.header {
    height: 42px;
    /* background-color: pink; */
    margin-top: 30px;
    margin-bottom: 30px;
}
.logo {
    float: left;
    width: 195px;
    height: 42px;
}
.nav {
    float: left;
    margin-left: 40px;
}
.nav li {
    float: left;
}
.nav li a {
    display: block;
    height: 42px;
    line-height: 40px;
    font-size: 18px;
    color: #050505;
    padding: 0 9px;
    margin-left: 25px;
}
.nav li a:hover {
    border-bottom: 2px solid #00a4ff;
}
.search {
    float: left;
    width: 411px;
    height: 42px;
    border: 1px solid #00a4ff;
    margin-left: 85px;
}
.search input {
    float: left;
    width: 359px;
    height: 40px;
    /* 清除边框 */
    border: 0;
    /* 清除轮廓线 */
    outline: 0;
    padding-left: 20px;
}
.search button {
    float: left;
    width: 50px;
    height: 40px;
    background: url(../images/btn.png);
    /* 清除边框 */
    border: 0;
    /* 清除轮廓线 */
    outline: 0;
}
.user {
    float: left;
    line-height: 42px;
    margin-left: 30px;
}
.user img {
    vertical-align: middle;
}
.banner {
    height: 420px;
    background-color: #1c036c;
}
.banner .w {
    height: 420px;
    background: url(../images/banner2.png);
}
.aside {
    float: left;
    width: 190px;
    height: 420px;
    background-color: rgba(0, 0, 0, .3);
    padding: 10px 20px 0;
}
.aside li {
    height: 44px;
    line-height: 44px;
}
.aside li a {
    color: #fff;
}
.aside li span {
    float: right;
    font-family: 宋体;
}
.aside li a:hover {
    color: #00a4ff;
}
.course {
    float: right;
    width: 228px;
    height: 300px;
    background-color: #fff;
    margin-top: 50px;
}
.course h2 {
    height: 48px;
    background-color: #9bceea;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 48px;
    /* 调整文字与文字之间的距离 */
    letter-spacing: 2px;
}
.course li {
    border-bottom: 1px solid #eaeaea;
    margin: 15px 18px 0;
    padding-bottom: 14px;
}
.course h4 {
    color: #4e4e4e;
    font-weight: bold;
}
.course h4 span {
    font-size: 16px;
}
.course p {
    color: #a5a5a5;
    font-size: 12px;
}
.course-all {
    display: block;
    width: 200px;
    height: 40px;
    border: 1px solid #00a4ff;
    margin-top: 4px;
    margin-left: 14px;
    text-align: center;
    line-height: 38px;
    color: #00a4ff;
    font-size: 16px;
    font-weight: bold;
    transition: all .4s;
}
.course-all:hover {
    color: #fff;
    background-color: #00a4ff;
}
.box {
    margin-top: 37px;
}
.box-hd {
    height: 40px;
    /* background-color: pink; */
}
.box-hd .title {
    float: left;
    font-size: 20px;
    color: #494949;
    font-weight: normal;
}
.box-hd .check-all {
    float: right;
    color: #a5a5a5;
    font-size: 12px;
    margin: 8px 25px 0 0;
}
.box-hd .check-all:hover {
    color: #00a4ff;
}
.box-bd {
    height: 555px;
    /* background-color: skyblue; */
}
.box-bd li {
    float: left;
    width: 228px;
    height: 270px;
    background-color: #fff;
    margin-right: 15px;
    transition: all .4s;
    position: relative;
}
.box-bd li:nth-child(5n) {
    margin-right: 0;
}
.box-bd li:nth-child(-n+5) {
    margin-bottom: 15px;
}
.box-bd img {
    width: 100%;
}
.box-bd h3 {
    font-size: 14px;
    margin: 20px;
    font-weight: normal;
}
.box-bd p {
    margin: 20px;
}
.box-bd span {
    color: #ff7c2d;
}
.box-bd li:hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 5px 0px #0000003b;
}
.box-bd .one,
.box-bd .two {
    width: 40px;
    height: 24px;
    position: absolute;
    top: 5px;
    right: -5px;
    background: url(../images/hot.png);
}
.box-bd .two {
    background: url(../images/new.png);
}
/* 页脚 */
.footer {
    height: 255px;
    background-color: #fff;
    margin-top: 40px;
    padding-top: 33px;
}
.copyright {    
    float: left;
}
.copyright p {
    color: #666;
    font-size: 12px;
    line-height: 18px;
    margin-top: 24px;
}
.copyright .download {
    display: block;
    width: 120px;
    height: 36px;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 34px;
    font-size: 16px;
    color: #00a4ff;
    margin-top: 15px;
    transition: all .4s;
}
.links {
    float: right;
}
.links dl {
    float: left;
    width: 222px;
}
.links dl:last-child {
    width: 92px;
}
.links dt {
    color: #333;
    font-size: 18px;
    margin-bottom: 10px;
}
.links dd a {
    color: #333;
    font-size: 13px;
    line-height: 30px;
}
.links dd a:hover {
    color: #00a4ff;
}
.download:hover {
    color: #fff;
    background-color: #00a4ff;
}
