.xtx-footer {
    margin-top: 50px;
}

.xtx-shortcut {
    height: 52px;
    background-color: #333;
}

.xtx-shortcut li {
    float: left;
}

.xtx-shortcut li a {
    color: #dcdcdc;
    font-size: 14px;
    line-height: 50px;
}

.xtx-shortcut li:nth-child(2n) {
    margin: 18px 17px 0;
    background-color: #666;
    width: 1px;
    height: 14px;
}

.xtx-shortcut .phone::before {
    display: inline-block;
    content: '';
    width: 17px;
    height: 17px;
    background: url(../images/sprites.png) -160px -70px;
    vertical-align: middle;
    margin-top: -2px;
    margin-left: -8px;
}

.xtx-main-nav {
    height: 130px;
}

.xtx-main-nav .logo a {
    display: block;
    width: 207px;
    height: 70px;
    background: url(../images/logo.png);
    background-size: 100% 100%;
    font-size: 0;
    margin-top: 20px;
}

.xtx-main-nav li {
    float: left;
    margin-top: 55px;
    margin-left: 50px;
    padding-bottom: 5px;
}

.xtx-main-nav li:hover {
    border-bottom: 2px solid #27ba9b;
}

.search {
    margin: 55px 0 0 50px;
    padding-bottom: 2px;
    border-bottom: 2px solid #e7e7e7;
}

.search button {
    margin-top: -2px;
    margin-right: 3px;
    border: 0;
    width: 18px;
    height: 18px;
    background: url(../images/sprites.png) -79px -70px;
    vertical-align: middle;
}

.search input::placeholder {
    color: #ccc;
}

.cart a {
    position: relative;
    display: block;
    margin: 60px 0 0 15px;
    width: 23px;
    height: 23px;
    background: url(../images/sprites.png) -119px -70px;
}

.cart .count {
    position: absolute;
    top: -5px;
    left: 10px;
    height: 14px;
    color: #fff;
    background-color: #e26237;
    border-radius: 8px;
    line-height: 14px;
    padding: 0 6px;
    font-size: 14px;
}

.xtx-footer {
    height: 343px;
    background-color: #333;
}

.xtx-service {
    width: 1392px;
    height: 173px;
    border-bottom: 1px solid #434343;
    margin: 0 auto;
}

.xtx-service li {
    float: left;
    padding-top: 60px;
    margin-left: 190px;
    color: #fff;
    font-size: 28px;
}

.xtx-service li i {
    float: left;
    margin-right: 20px;
    width: 58px;
    height: 58px;
    vertical-align: middle;
    margin-top: -8px;
}

.icon-price {
    background: url(../images/sprites.png);
}

.icon-logistics {
    background: url(../images/sprites.png) -64px 0px;
}

.icon-fresh {
    background: url(../images/sprites.png) -129px 0px;
}

.xtx-copyright {
    margin-top: 40px;
    text-align: center;
    color: #999999;
    font-size: 14px;
}

.xtx-copyright p span {
    margin-left: 12px;
    margin-right: 12px;
}

.xtx-copyright p a {
    color: #999999;
}

.xtx-copyright p:last-child {
    margin-top: 20px;
}