.w {
    margin: 0 auto;
    width: 1200px;
}
.header {
    height: 84px;
    border-bottom: 2px solid #c81523;
}
.logo {
    padding-top: 18px;
}
.registerarea {
    margin-top: 20px;
    height: 522px;
    border: 1px solid #ccc;
}
.registerarea h3 {
    padding: 0 10px;
    height: 41px;
    line-height: 41px;
    font-size: 18px;
    font-weight: normal;
    background-color: #ececec;
    border-bottom: 1px solid #ccc;
}
.login {
    float: right;
    font-size: 14px;
}
.reg_form {
    margin: 50px auto 0;
    width: 600px;
}
.reg_form ul li {
    margin-bottom: 18px;
}
.reg_form ul li label {
    display: inline-block;
    width: 88px;
    text-align: right;
}
.reg_form ul li input {
    width: 242px;
    height: 37px;
    text-indent: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.error {
    color: #c81523;
}
.error_icon {
    display: inline-block;
    margin-top: -2px;
    padding-left: 5px;
    width: 20px;
    height: 20px;
    background: url(../images/error.png) no-repeat;
    vertical-align: middle;
}
.success_icon {
    display: inline-block;
    padding-left: 5px;
    width: 20px;
    height: 20px;
    background: url(../images/success.png) no-repeat;
    vertical-align: middle;
}
.success {
    color: #40b83f;
}
.safe {
    margin-left: 122px;
}
.safe em {
    color: #fff;
    padding: 0 12px;
}
.weak {
    background-color: #de1111;
}
.in {
    background-color: #40b83f;
}
.strong {
    background-color: #f79100;
}
.agree {
    margin-right: 170px;
    text-align: center;
}
.agree .agree_input{
    width: 12px;
    height: 37px;
    vertical-align: middle;
}
.agree a {
    color: #1ba1e6;
}
.btn {
    margin-left: 105px;
}
input[type=submit] {
	width: 200px !important;
	height: 34px !important;
    color: #fff;
    text-align: center;
	background-color: #c81623;
}
.service_copyright {
    text-align: center;
}
.links {
    margin: 15px 0 15px 0;
}
.links a {
    margin: 0 3px;
}
.copyright {
    line-height: 30px;
}