body {
    overflow-x: hidden;
    min-width: 320px;
    max-width: 540px;
    margin: 0 auto;
    color: #000;
    background: #f2f2f2;
    font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
    -webkit-tap-highlight-color: transparent;
}
a {
    color: #222;
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
div {
    box-sizing: border-box;
}
.search_index {
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    height: 44px;
    min-width: 320px;
    max-width: 540px;
    background-color: #f6f6f6;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.search {
    flex: 1;
    position: relative;
    height: 26px;
    margin: 7px 10px;
    padding-left: 25px;
    color: #666;
    font-size: 12px;
    line-height: 24px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}
.search::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: url(../images/sprite.png) no-repeat -59px -279px;
    background-size: 104px auto;
}
.user {
    width: 44px;
    height: 44px;
    color: #2eaae0;
    font-size: 12px;
    text-align: center; 
}
.user::before {
    content: '';
    display: block;
    width: 23px;
    height: 23px;
    margin: 4px auto -2px;
    background: url(../images/sprite.png) no-repeat -59px -194px;
    background-size: 104px auto;
}
.focus {
    padding-top: 44px;
}
.focus img {
    width: 100%;
}
.local_nav {
    display: flex;
    height: 64px;
    margin: 3px 4px;
    background-color: #fff;
    border-radius: 8px;
}
.local_nav li {
    flex: 1;
}
.local_nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}
.local_nav li [class^="local_nav_icon"] {
    width: 32px;
    height: 32px;
    margin-top: 8px;
    background: url(../images/localnav_bg.png) no-repeat 0 0;
    background-size: 32px auto;
}
.local_nav li .local_nav_icon_icon2 {
    background-position: 0 -32px;
}
.local_nav li .local_nav_icon_icon3 {
    background-position: 0 -64px;
}
.local_nav li .local_nav_icon_icon4 {
    background-position: 0 -96px;
}
.local_nav li .local_nav_icon_icon5 {
    background-position: 0 -128px;
}
nav {
    overflow: hidden;
    margin: 0 4px 3px;
    border-radius: 8px;
}
.nav_common {
    display: flex;
    height: 88px;
}
.nav_common:nth-child(2) {
    margin: 3px 0;
}
.nav_items {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.nav_items a {
    flex: 1;
    color: #fff;
    font-size: 14px;
    line-height: 44px;
    text-align: center;
    text-shadow: 1px 1px rgb(0 0 0 / 20%);
}
.nav_items a:nth-child(1) {
    border-bottom: 1px solid #fff;
}
.nav_items:nth-child(-n+2) {
    border-right: 1px solid #fff;
}
.nav_items:nth-child(1) a {
    border: 0;
    background: url(../images/hotel.png) no-repeat bottom center;
    background-size: 121px auto;
}
.nav_common:nth-child(1) {
    background: -webkit-linear-gradient(left, #FA5A55, #FA994D);
}
.nav_common:nth-child(2) {
    background: -webkit-linear-gradient(left, #4B90ED, #53BCED);
}
.nav_common:nth-child(3) {
    background: -webkit-linear-gradient(left, #34C2A9, #6CD559);
}
.subnav_entry {
    display: flex;
    flex-wrap: wrap;
    margin: 0 4px;
    padding: 5px 0;
    background-color: #fff;
    border-radius: 8px;
}
.subnav_entry li {
    flex: 20%;
}
.subnav_entry a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subnav_entry_icon {
    width: 28px;
    height: 28px;
    margin-top: 4px;
    background: url(../images/subnav-bg.png) no-repeat;
    background-size: 28px auto;
}
.subnav_entry :nth-child(2) .subnav_entry_icon {
    background: url(../images/subnav-bg.png) no-repeat 0px -30px;
    background-size: 28px auto;
}
.subnav_entry :nth-child(3) .subnav_entry_icon {
    background: url(../images/subnav-bg.png) no-repeat 0px -62px;
    background-size: 28px auto;
}
.subnav_entry :nth-child(4) .subnav_entry_icon {
    background: url(../images/subnav-bg.png) no-repeat 0px -98px;
    background-size: 28px auto;
}
.subnav_entry :nth-child(5) .subnav_entry_icon {
    background: url(../images/subnav-bg.png) no-repeat 0px -130px;
    background-size: 28px auto;
}
.subnav_entry :nth-child(6) .subnav_entry_icon {
    background: url(../images/subnav-bg.png) no-repeat 0px -162px;
    background-size: 28px auto;
}
.subnav_entry :nth-child(7) .subnav_entry_icon {
    background: url(../images/subnav-bg.png) no-repeat 0px -198px;
    background-size: 28px auto;
}
.subnav_entry :nth-child(8) .subnav_entry_icon {
    background: url(../images/subnav-bg.png) no-repeat 0px -230px;
    background-size: 28px auto;
}
.subnav_entry :nth-child(9) .subnav_entry_icon {
    background: url(../images/subnav-bg.png) no-repeat 0px -258px;
    background-size: 28px auto;
}
.subnav_entry :nth-child(10) .subnav_entry_icon {
    background: url(../images/subnav-bg.png) no-repeat 4px -288px;
    background-size: 28px auto;
}
.sales_box {
    margin: 4px;
    background-color: #fff;
    border-top: 1px solid #bbb;
}
.sales_hd {
    position: relative;
    height: 44px;
    border-bottom: 1px solid #ccc;
}
.sales_hd h2 {
    position: relative;
    overflow: hidden;
    text-indent: -999px;
}
.sales_hd h2::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 8px;
    width: 79px;
    height: 15px;
    background: url(../images/hot.png) no-repeat 0 -20px;
    background-size: 79px auto;
}
.more {
    position: absolute;
    top: 0px;
    right: 5px;
    padding: 3px 20px 3px 10px;
    color: #fff;
    border-radius: 15px;
    background: -webkit-linear-gradient(left, #ff506c, #ff6bc6);
}
.more::after {
    content: '';
    position: absolute;
    top: 9px;
    right: 9px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}
.row {
    display: flex;
}
.row a {
    flex: 1;
    border-bottom: 1px solid #ccc;
}
.row a img {
    width: 100%;
}
.row a:nth-child(1) {
    border-right: 1px solid #ccc;
}